dark-primary-color = #161A22 
dark-background-color = #06080F
dark-card-color = #282B34
dark-actived-color = #21252D
dark-hover-color = #161A22
dark-font-color = #8A939E

dark-mode()
    // Body background
    background: dark-background-color
    // Media brightness
    img, video, iframe, .waifu, .donate
        filter: brightness(0.8)
        -webkit-filter: brightness(0.8)
    // NavBar color
    .navbar
        background-color: dark-hover-color
    .navbar-main .navbar-menu .navbar-item
        &:hover,
        &:focus
            color: #ffffff
            background-color: dark-actived-color
    // Footer color
    .footer
        backdrop-filter: none
        -webkit-backdrop-filter: none
        background-color: dark-hover-color
    // Card color
    .card
        background-color: dark-card-color
    // Menu color
    .menu-list a:hover
        background-color: dark-hover-color
    .menu-list a.is-active
        background-color: dark-actived-color
    .menu-list li ul
        border-color: dark-hover-color
    // Search box color
    .searchbox
        .searchbox-container,
        .searchbox-header,
        .searchbox-header .searchbox-input,
        .searchbox-header .searchbox-close,
        .searchbox-body,
        .searchbox-result-section,
        .searchbox-result-item
            color: dark-font-color
            background-color: dark-background-color
            border-color: dark-hover-color
        .searchbox-container .searchbox-result-section .searchbox-result-item:hover,
        .searchbox-container .searchbox-result-section .searchbox-result-item.active,
        .searchbox-container .searchbox-header .searchbox-close:hover
            color: #ffffff
            background-color: dark-hover-color
    // Time line color
    .timeline .media:last-child:after
        background-color: dark-card-color
    .timeline
        border-color: dark-hover-color
    .timeline .media:before
        background-color: dark-hover-color
    // Input color
    .input, .textarea
        background-color: dark-actived-color
        border-color: dark-font-color
    input:-webkit-autofill
        -webkit-text-fill-color: dark-font-color !important
        box-shadow: 0 0 0px 1000px dark-primary-color inset
    // Selection color
    ::selection
        color: #ffffff
        background-color: rgba(52,109,167,0.8)
    ::-moz-selection
        color: #ffffff
        background-color: rgba(52,109,167,0.8)
    // Button color
    .button.is-dark, .button.is-light, .button.is-small
        background-color: dark-primary-color
        color: dark-font-color
        &:hover, &.is-hovered
            color: #ffffff
            background-color: dark-hover-color
        &:active, &.is-active
            color: #ffffff
            background-color: dark-actived-color
    .button.is-white,
    .button.is-transparent
        background-color: transparent
        &:hover
            background-color: dark-hover-color !important
    // Font color
    body,
    strong,
    time,
    .title,
    .footer,
    .card,
    .content h1,
    .content h2,
    .content h3,
    .content h4,
    .content h5,
    .content h6,
    .navbar-item,
    .navbar-item.is-active,
    .navbar-link,
    .menu-list a,
    .menu-label,
    .level-item,
    .input,
    .textarea,
    .button.is-white,
    .button.is-transparent,
    .article-licensing,
    .breadcrumb li a,
    .v *
        color: dark-font-color
    .media-content,
    .has-text-grey,
    .link-muted
        color: dark-font-color !important
    a
        color: rgb(82, 153, 224)
        &:hover
            color: #ffffff
    .timeline a,
    [data-type="recent-posts"] a
        color: dark-font-color
        &:hover
            color: #ffffff
    // Code highlight style
    .hljs{display:block;overflow-x:auto;padding:0.5em;color:#abb2bf;background:#282c34}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-keyword,.hljs-formula{color:#c678dd}.hljs-section,.hljs-name,.hljs-selector-tag,.hljs-deletion,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-string,.hljs-regexp,.hljs-addition,.hljs-attribute,.hljs-meta-string{color:#98c379}.hljs-built_in,.hljs-class .hljs-title{color:#e6c07b}.hljs-attr,.hljs-variable,.hljs-template-variable,.hljs-type,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-number{color:#d19a66}.hljs-symbol,.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-title{color:#61aeee}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}.hljs-link{text-decoration:underline}
    // Quote color
    .content blockquote
        background-color: dark-primary-color
        border-color: dark-actived-color
    // Code color
    .content code
        color: #C8D0D9
        background: #2F333A
    // Table color
    .content table thead td,
    .content table thead th
        color: dark-font-color
    .content table td,
    .content table th
        border-color: dark-hover-color
    // Tag color
    .tag:not(body)
        color: dark-font-color
        background-color: dark-primary-color
    // Article Licensing
    .article-licensing
        background-color: dark-primary-color
        border-color: dark-actived-color
    .control .button 
        color: dark-font-color
        border-color: dark-font-color
        background-color: dark-card-color
    .control .input,
    .control .icon 
        color: dark-font-color
        
    #disqus_thread iframe
        color: dark-font-color

        
    


body.dark-mode
    dark-mode()

@media (prefers-color-scheme: dark)
    body:not(.light-mode)
        dark-mode()